<!DOCTYPE html>
<html>
  <head>
    <title>{{titleSite}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </head>
      <body>
        <div class="container">
          <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <span class="navbar-text">
                <font color="white">{{header}}</font>
              </span>

              {% if questionButton|length > 0 %}
                <button class="btn btn-link" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="{{questionButton[0]}}" data-bs-content="{{questionButton[1]}}">
                  <img src="../static/images/questionbutton.svg" style="filter: brightness(0) invert(1);" width="25" height="25"/>
                </button>
                <script>
                  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                  })
                </script>
              {% endif %}

            </div>
          </nav>

          {% if banner|length > 0 %}
            <div class="container">
              <div class="row">
                <div class="row row-cols-1 g-2"> 
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">{{banner[0]}}</h4>
                    <p>{{banner[1]}}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        

          <div class="container">
            <div class="row">
              <div class="row row-cols-1 row-cols-md-3 g-2">            
              {% for card in cards %}
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{card.title}}</h5>
                      <p class="card-text">{{card.text}}</p>
                      <a href="{{card.link}}" class="btn btn-secondary" target="_blank">Open Service</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>    
          </div>

        </div>
      </body>
</html>